@model VentaDeVehiculos.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />

    <div class="row">

        <div class="col-4 col-sm-4">
            @if (Model.UrlFoto != null)
            {
                <img src="~/fotos/@Model.UrlFoto" class="img-thumbnail" width="400px"/>
            }
        </div>

        <div class="col-8 col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Matricula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Matricula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modelo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CostoVehiculo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CostoVehiculo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripsion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripsion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UrlFoto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UrlFoto)
                </dd>
            </dl>

        </div>
    </div>

    
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Volver a la Lista</a>
</div>
